<% name = current_user.present? ? current_user.email : 'Unknown User' %>

<h1 class='alert alert-info'>Welcome <%= name %></h1>
<% if user_signed_in? %>
    <div class="text-center">
    <%= link_to 'My Blog', articles_path, class: 'btn btn-success' %>
    </div>
<% end %>